<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>我的粉丝</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/myFens.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="main">
        <div
          v-infinite-scroll="loadMore"
          infinite-scroll-disabled="busy"
          infinite-scroll-distance="10"
        >
          <div v-for="item in fens" class="likeList">
            <div class="userImg">
              <img :src="item.userImg" />
            </div>
            <div class="likeMiddle">
              <div class="likeContent">
                {{item.userName}}
              </div>
              <div class="likeDate">{{item.fensNum}}位粉丝</div>
            </div>
            <div class="contentImgUrl" v-if="!item.isLiked">+关注</div>
            <div class="hadLike" v-else>已关注</div>
          </div>
        </div>
      </div>
      <div class="footer">
        <a class="navList" href="index.html">
          <img src="./images/icon/index.png" class="navListIcon" />
          <div class="navListText">首页</div>
        </a>
        <a class="navList" href="vedio.html">
          <img src="./images/icon/video.png" class="navListIcon" />
          <div class="navListText">视频</div>
        </a>
        <a class="navList" href="circle.html">
          <img src="./images/icon/circle.png" class="navListIcon" />
          <div class="navListText">圈子</div>
        </a>
        <a class="navList" href="message.html">
          <img src="./images/icon/message.png" class="navListIcon" />
          <div class="navListText">消息</div>
        </a>
        <a class="navList selected" href="user.html">
          <img src="./images/icon/user_ed.png" class="navListIcon" />
          <div class="navListText">我的</div>
        </a>
      </div>
    </div>
  </body>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          fens: [
            {
              userImg: './images/demo1.png',
              userName: '胖墩',
              fensNum: 12,
              isLiked: true
            },
            {
              userImg: './images/demo1.png',
              userName: '胖墩',
              fensNum: 12,
              isLiked: false
            },
            {
              userImg: './images/demo1.png',
              userName: '胖墩',
              fensNum: 12,
              isLiked: false
            },
            {
              userImg: './images/demo1.png',
              userName: '胖墩',
              fensNum: 12,
              isLiked: true
            }
          ],
          busy: false
        }
      },
      methods: {
        loadMore: function() {
          this.busy = true
          setTimeout(() => {
            this.busy = false
          }, 1000)
        }
      },
      mounted() {}
    })
  </script>
</html>
